table, th, td {
    border: 1px solid black;
  }
  table {
    width: 100%;
  }
  #head{
      background-color: black;
      color: blanchedalmond;
  }
  table tr:nth-of-type(odd) {
    background-color: rgb(218, 212, 212);
}