<mat-form-field   style="float: right; margin-right: 20px;" >
    <mat-label  style="color: white;;">Search</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. ium" #input>
</mat-form-field>
<div class="mat-elevation-z8" style="background-color: cornflowerblue;">
<table mat-table [dataSource]="dataSource"  style="border: solid 1px;">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Id No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Email Id</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Last Name  </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Avatar </th>
        <td mat-cell *matCellDef="let element"> <img src={{element.avatar}}> </td>
      </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr> 
</table>
  <mat-paginator style="background-color: cornflowerblue;" [pageSizeOptions]="[4]" showFirstLastButtons></mat-paginator>
  
</div>